doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
    body(ng-controller='appController')
        block content
        script(src='/js/angular.min.js')
        block javascript