extends layout

block content
    ul
        li(ng-repeat='d in route')
            a(ng-bind="d.name" ng-href="{{d.url}}")
    p(ng-bind="pageName")
    h1= env.version

block javascript
    script var pageData = {};
    script(src='/js/webpack-#{env.version}/page.js')